.my {
    background-color: #B7CADB;
}
html {
    background: url('/Users/srijanmalhotra/Desktop/youtube-comment-analysis/static/images.jpeg') no-repeat center center fixed;
    background-size: cover;
}

body {
    background-color: inherit;
}
.full-width {
    min-height: 100vh;
}
form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}