.back {
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.full-width {
    min-height: 90vh;
}

form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}