.yca-background {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-color: rgb(219, 97, 97);
}

.yca-background-secondary {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
}

.full-width {
    min-height: 90vh;
}

form {
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
}